canvas {
    position: absolute;
    border: 4px solid rgb(37, 93, 136);
}

#menu {
    position: absolute;
}

div, p {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: rgb(27, 62, 88);
    overflow: hidden;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-weight: 800;
    color: white;
    font-size: 150%;
}